@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --white:#e8c6e8;
    --dark:#2b3849;
}
/* .color1 {color: #2b3849;}
.color2 {color: #4e4e6b;}
.color3 {color: #826f98;}
.color4 {color: #bf99d1;}
.color5 {color: #e8c6e8;} */
body{
    color: var(--dark);
    background: #bf99d1;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #4e4e6b;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
}
.navigation .logo{
    color: #bf99d1;
    font-size: 1.7rem;
    font-weight: 600;
}
.logo span{
    color: var(--dark);
}
.logo .tarot {
    color: #bf99d1;
}

.logo-insta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    width: 30px;
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.navigation ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}
.navigation ul li a:hover{
    color: #bf99d1;
}
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
.nav-menu a {
    display: flex;
    flex-direction: column;
}
.nav-menu i {
    display: flex;
    align-self: center;
    justify-content: center;
}   
.nav-menu i :hover{
    color: #bf99d1;
}  
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: darkorchid
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 5%;
}
.home-text{
    max-width: 37rem;
    margin-top: 20px;
}
.home-text .text-h4{
    font-size: 1.2rem;
    color: var(--dark);
    margin-top: 5rem;
}
.home-text .text-h1{
    font-size: 1.5rem;
    margin-bottom: 10px;
    line-height: 2rem;
    color: #ffff
}
.home-text p{
    font-size: 1rem;
    margin-bottom: 10px;
    line-height: 1.5rem;
}
.home-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition : 1000ms;
    cursor: pointer;
    padding: 20px 0px 20px 0px;
    background: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: 1000ms;
    width: 100%;
    animation: jumping 1s linear infinite;
}
.wpp-button {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.home-img img{
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (max-width:785px) {
    .navigation{
        padding: 18px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        display: block;
    }
    /*main*/
    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px ;
        text-align: center;
        gap: 5rem;
    }
    .home .text-h4{
        margin-top: 1rem;
        font-size: 2rem;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    .home p{
        font-size: 15px;
        line-height: 25px;
        margin-top: 10px;
    }
    .home-img{
        position: absolute;
        opacity: 15%;
        width: 75%;
    }
    .home-btn {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
    }
    .wpp-button {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@keyframes jumping {
    from {transform: translateY(-15px);}
    60% {transform: translateY(0);}
    to {transform: translateY(-15px);}
}
